:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --h1-button-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --hero-footer-background: #2f303a;
  --radio-button-section-background: #f5f4fa;
  --footer-contact-link-color: rgba(255, 255, 255, 0.6);
  --logo-top-color: #000000;
  --button-shaddow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--primary-font);
  color: var(--background-color);
}

/* ======== COMPONENTS ======== */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.hidden-title {
  visibility: hidden;
}
/* ======== END COMPONENTS ======== */

/* HEADER */

.header {
  background-color: var(--h1-button-text-color);
}

/* ======== LOGO ======== */

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-top {
  color: var(--logo-top-color);
}

.logo-bottom {
  color: var(--h1-button-text-color);
}

/* ======== END LOGO ======== */

/* ======== NAVIGATION ======== */

.menu-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-item .link.current {
  color: var(--accent-color);
}

/* ======== CONTACTS ======== */

.header-contact-links {
  color: var(--secondary-text-color);
}

.footer-contact-links {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
/* ======== END CONTACTS ======== */

/* ======== BUTTONS ======== */

.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

.btn-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--h1-button-text-color);
}

/* ======== END BUTTONS ======== */

/* ======== HERO SECTION ======== */

.hero {
  background: var(--hero-footer-background);
  align-items: center;
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--h1-button-text-color);
}

.modal-btn {
  background: var(--accent-color);
  box-shadow: var(--button-shaddow);
  border-radius: 4px;
  text-align: center;
}

/* ======== END HERO SECTION ======== */

/* ======== ADVANTAGE SECTION ======== */

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ======== END ADVANTAGE SECTION ======== */

/* Task */

/* ======== OUR TEAM SECTION ======== */
.our-team {
  background: var(--radio-button-section-background);
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ======== END OUR TEAM SECTION ======== */

/* ======== FOOTER ======== */

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--hero-footer-background);
}

/* ======== FOOTER ======== */

.p-footer {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--h1-button-text-color);
}

.footer-contact-links:hover,
.footer-contact-links:focus {
  color: var(--accent-color);
}

/* PORTTFOLIO CSS */
/* ======== Radio button section ======== */

.r-button {
  font-family: inherit;
  background: var(--radio-button-section-background);
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.r-button:hover,
.r-button:focus {
  background: var(--accent-color);
  color: var(--h1-button-text-color);
}

.r-button .link:active,
.r-button .link:visited {
  color: var(--accent-color);
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
